@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.phone-info {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__name {
    font-size: $font-size-24;
    font-weight: $font-weight-300;
    text-transform: uppercase;
    margin: 0;
  }

  &__price {
    font-size: $font-size-20;
    color: $color-black;
  }

  &__storage-options {
    &__title {
      font-weight: $font-weight-300;
      font-size: $font-size-14;
      margin-bottom: 12px;
      text-transform: uppercase;
    }

    &__list {
      display: flex;
      gap: 12px;
      flex-wrap: wrap;
    }

    &__btn {
      padding: 24px;
      border: 1px solid #ddd;
      background: $color-white;
      cursor: pointer;
      border-radius: 4px;
      transition: all 0.7s ease;

      &.active {
        border-color: $color-black;
      }
    }
  }

  &__color-options {
    &__title {
      font-weight: $font-weight-300;
      font-size: $font-size-14;
      margin-bottom: 12px;
      text-transform: uppercase;
    }

    &__list {
      display: flex;
      gap: 12px;
      flex-wrap: wrap;
    }

    &__btn {
      width: 24px;
      height: 24px;
      border: 2px solid #ddd;
      cursor: pointer;
      transition: all 0.2s ease;

      &.active {
        border-color: $color-black;
      }
    }

    &__selected-color {
      margin-top: 12px;
      font-size: $font-size-14;
      color: $color-gray;
    }
  }

  &__add-to-cart {
    padding: 16px 32px;
    background: $color-black;
    color: $color-white;
    border: none;
    font-size: $font-size-16;
    cursor: pointer;
    text-transform: uppercase;
  }
}
