$font-family: Helvetica, Arial, sans-serif;

$font-size-10: 10px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-20: 20px;
$font-size-24: 24px;

$font-weight-300: 300;

$line-height: 100%;

$background-color-white: white;

$color-black: black;

$mobile: 393px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1280px;
$large-desktop: 1536px;
$ultra-desktop: 1920px;
