@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.search-bar {
  position: sticky;
  top: 84px;
  background-color: white;
  padding: 24px 100px;

  @include mobile {
    padding: 24px 16px;
  }

  &__input {
    display: flex;
    flex: 1;
    padding: 12px 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: $font-size-16;
    outline: none;
    transition: border-color 0.2s ease;
  }

  &__total {
    font-size: $font-size-12;
    font-weight: $font-weight-300;
    color: $color-black;
    line-height: $line-height;
  }
}
