@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.phone-detail {
  padding: 0 200px;

  @include mobile {
    padding: 0 16px;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
    margin-bottom: 64px;

    @include mobile {
      grid-template-columns: 1fr;
      gap: 32px;
    }
  }
}
